<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="/">
            <img src="/static/favicon/favicon.svg" width="30" height="30"
                 class="d-inline-block align-top"  alt=""/>
            DevTeam
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a sec:authorize="hasAnyAuthority('CUSTOMER', 'MANAGER', 'DEVELOPER')" class="nav-link"
                       href="/projects">Проекты<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasAuthority('MANAGER')" class="nav-link" href="/developers">Разработчики</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasAuthority('USER')" class="nav-link" href="/user">Профиль пользователя<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="hasAuthority('ADMIN')" class="nav-link" href="/admin">Панель администратора</a>
                </li>
            </ul>
            <form sec:authorize="!isAuthenticated()" class="form-inline">
                <a href="/login" class="btn btn-primary btn-sm mx-1" role="button">Войти</a>
                <a href="/registration" class="btn btn-secondary btn-sm mx-1" role="button">Регистрация</a>
            </form>
            <form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/logout}" method="post">
                <div class="navbar-text text-light" th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
                <button class="btn btn-light btn-sm mx-2" type="submit" id="logout">Выйти</button>
            </form>
        </div>
    </nav>
</div>
<div th:fragment="footer">
    <footer class="p-2 bg-dark text-white">
        <div>
            <div class="container">&copy; Все права защищены 2019</div>
        </div>
    </footer>
</div>
<th:block th:fragment="imports">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</th:block>
</body>
</html>