<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>

<div class="form-group" th:fragment="login (path, button_value)" data-testid="login-form">
    <form th:action="${path}" method="post">
        <div class="form-group row mb-3">
            <label for="username-input" class="col-sm-2 col-form-label">Логин :</label>
            <div class="col-sm-6">
                <input type="text" id="username-input" name="username" class="form-control" placeholder="Логин"/>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="password-input" class="col-sm-2 col-form-label">Пароль:</label>
            <div class="col-sm-6">
                <input type="password" id="password-input" name="password" class="form-control" placeholder="Пароль"/>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" th:text="${button_value}"></button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>

</body>
</html>