<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Панель администратора</title>
    <th:block th:replace="~{fragments/common :: headerfiles}"/>
</head>
<body>
<th:block th:replace="~{fragments/common :: header}"/>
<div class="container">
    <h1>List of users</h1>
    <div class="container">
        <table class="table table-borderless col-3">
            <thead>
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">Роли</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${usersList}">
                <td th:text="${user.username}">"</td>
                <td>
                    <span th:each="role : ${user.roles}">
                        <span th:text="${role}"></span>
                    </span>
                </td>
                <td><a class="btn btn-primary" th:href="@{'/admin/' + ${user.id}}">Редактировать</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="~{fragments/common :: footer}"/>
<th:block th:replace="~{fragments/common :: imports}"/>
</body>
</html>