<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактор пользователя</title>
    <th:block th:replace="~{fragments/common :: headerfiles}"/>
</head>
<body>
<div th:replace="~{fragments/common :: header}"></div>
<div class="container">
    <h1>Изменение настроек пользователя</h1>
    <div class="container">
        <form action="/admin" $ method="post">
            <div class="form-group">
                <label for="changeUsername">Новый логин</label>
                <input type="text" name="username" class="form-control col-4" id="changeUsername"
                       th:value="${user.username}">
            </div>
            <td th:each="role : ${roles}">
                <div>
                    <input class="form-check-input" type="checkbox" id="roleCheckbox" th:name="${role}"
                           th:checked="${user.roles.contains(role)}">
                    <label th:inline="text" class="form-check-label" for="roleCheckbox">
                        [[${role}]]
                    </label>
                </div>
            </td>
            <input type="hidden" name="userId" th:value="${user.id}">
            <button class="btn btn-primary my-3" type="submit">Сохранить</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>
</div>

<div th:replace="~{fragments/common :: footer}"></div>
<div th:replace="~{fragments/common :: imports}"></div>
</body>
</html>