<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Разработчики</title>
    <th:block th:replace="~{fragments/common :: headerfiles}"/>
</head>
<body>
<th:block th:replace="~{fragments/common :: header}"/>
<div class="container-fluid">
    <h1 class="m-3">Список разработчиков</h1>
    <div class="row row-cols-auto">
        <div th:if="${!developers.isEmpty()}" th:each="developer : ${developers}">
            <div class="card mx-2" style="width: 18rem;">
                <h5 class="card-header" th:text="${developer.firstName} + ' ' + ${developer.lastName}">Developer
                    Name</h5>
                <div class="card-body">
                    <div class="card-text">
                        <strong>Email</strong>
                        <div th:text="${developer.email}"></div>
                        <strong>Контактные данные</strong>
                        <div th:text="${developer.contacts}"></div>
                        <strong>Профессиональные навыки</strong>
                        <div th:if="${developer.skills} != null" th:text="${developer.skills}"></div>
                        <div th:unless="${developer.skills} != null">не заполнены</div>
                        <strong>Оплата</strong>
                        <div th:text="${developer.price} + ' $/час'"></div>
                    </div>
                </div>
                <div class="card-footer text-body-secondary">
                    <form th:action="@{/developers}" method="post">
                        <label for="newPrice">Изменить оплату</label>
                        <div class="d-flex align-items-center justify-content-start gap-2 flex-nowrap">
                            <input type="text" name="price" class="form-control" id="newPrice"
                                   th:value="${developer.price}">
                            <button class="btn btn-primary btn-sm" type="submit">Сохранить</button>
                        </div>
                        <input type="hidden" th:name="id" th:value="${developer.id}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
                <div class="card-footer text-body-secondary d-flex">
                    <form th:action="@{/developers}" th:method="delete">
                        <button class="btn btn-danger btn-sm" type="submit">Удалить</button>
                        <input type="hidden" th:name="id" th:value="${developer.id}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/common :: footer}"/>
<th:block th:replace="~{fragments/common :: imports}"/>
</body>
</html>