<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Команда разработчиков</title>
    <th:block th:replace="~{fragments/common :: headerfiles}"/>
</head>
<body>
<th:block th:replace="~{fragments/common :: header}"/>
<div class="container">
    <h1>Команда разработчиков</h1>
    <h2>Описание проекта</h2>
    <div class="jumbotron">
        <p>
            Система Команда разработчиков. Заказчик представляет Техническое Задание (ТЗ),
            в котором перечислен перечень Работ с указанием квалификации и количества требуемых специалистов.
            Менеджер рассматривает ТЗ и оформляет Проект, назначая на него Разработчиков и добавляя Задачи,
            после чего рассчитывается стоимость Проекта и Заказчику выставляется Счет.
            Разработчик имеет возможность отметить количество часов, затраченных на работу над каждой из Задач.
        </p>
    </div>
    <h2>Роли</h2>
    <div class="jumbotron">
        <ul>
            <li>Менеджер</li>
            <li>Разработчик</li>
            <li>Заказчик</li>
        </ul>
    </div>
    <h2>Возможности</h2>
    <div class="jumbotron">
        <h3>Все пользователи</h3>
        <ul>
            <li>Регистрация(Логин, Пароль, Роль, Фамилия, Имя, Электронная почта, Дополнительные контактные данные,
                Профессиональные навыки (обязательно для разработчиков))
            </li>
            <li>Авторизация</li>
            <li>Просмотр данных профиля</li>
            <li>Редактирование профиля(Фамилия, Имя, Электронная почта, Дополнительные контактные данные,
                Профессиональные навыки)
            </li>
            <li>Удаление профиля</li>
        </ul>
        <hr>
        <h3>Заказчик</h3>
        <ul>
            <li>Создание проекта(Название, ТЗ, выбор менеджера)</li>
            <li>Просмотр списка своих проектов</li>
            <li>Просмотр информации о проекте</li>
            <li>Редактирование информации о проекте(Название, ТЗ, выбор менеджера)</li>
            <li>Удаление проекта</li>
        </ul>
        <hr>
        <h3>Менеджер</h3>
        <ul>
            <li>Просмотр списка своих проектов</li>
            <li>Просмотр информации о проекте</li>
            <li>Редактирование информации о проекте(Статус, Список разработчиков)</li>
            <li>Удаление проекта</li>
            <li>Создание задач проекта(Название, Описание)</li>
            <li>Просмотр списка задач проекта</li>
            <li>Удаление задач проекта</li>
            <li>Просмотр списка зарегистрированных разработчиков</li>
            <li>Удаление разработчиков из списка(удаление их аккаунтов)</li>
            <li>Изменение оплаты разработчиков</li>
        </ul>
        <hr>
        <h3>Разработчик</h3>
        <ul>
            <li>Просмотр списка своих проектов</li>
            <li>Просмотр информации о проекте</li>
            <li>Просмотр списка задач проекта</li>
            <li>Изменение статуса задачи(Приступить к задаче, Завершить задачу)</li>
            <li>Отметка затраченного на задачу времени(Суммируется с предыдущим)</li>
        </ul>
    </div>
</div>
<th:block th:replace="~{fragments/common :: footer}"/>
<th:block th:replace="~{fragments/common :: imports}"/>
</body>
</html>