<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Login</title>
    <th:block th:replace="~{fragments/common :: headerfiles}"/>
</head>
<body>
<th:block th:replace="~{fragments/common :: header}"/>
<div class="container mt-5">
    <th:block th:replace="~{fragments/login :: login(path='/login', button_value='Войти')}"></th:block>
</div>
<th:block th:replace="~{fragments/common :: footer}"/>
<th:block th:replace="~{fragments/common :: imports}"/>
</body>
</html>