<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Проекты</title>
    <th:block th:replace="fragments/common :: headerfiles"/>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<div class="container m-3">
    <button sec:authorize="hasAuthority('CUSTOMER')" class="btn btn-primary mb-3" type="button" data-toggle="collapse"
            data-target="#addProject"
            aria-expanded="false" aria-controls="addProject">
        Создать новый проект
    </button>
    <div class="collapse" id="addProject">
        <div class="card card-body">
            <div class="form-group">
                <form method="post">
                    <div class="form-group my-2">
                        <input type="text" class="form-control" name="name" placeholder="Введите название проекта"/>
                    </div>
                    <div class="form-group my-2">
                        <label for="specification">Техническое задание</label>
                        <textarea class="form-control" name="specification" id="specification"
                                  rows="5"> </textarea>
                    </div>
                    <div class="form-group">
                        <label for="manager">Менеджер</label>
                        <select class="form-control" id="manager" th:name="managerId">
                            <option th:each="manager : ${managers}"
                                    th:text="${manager.firstName} + ' ' + ${manager.lastName}"
                                    th:value="${manager.id}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Добавить</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>
    </div>
    <div class="my-3">
        <h5>Список проектов</h5>
        <form class="form-inline" method="get" action="/projects">
            <div class="form-group mx-sm-3">
                <input type="text" class="form-control" name="nameFilter" th:value="${nameFilter}">
            </div>
            <button class="btn btn-dark" type="submit">Найти</button>
        </form>
    </div>
    <div class="container">
        <form sec:authorize="hasAnyAuthority('CUSTOMER', 'MANAGER')" class="form-inline" method="get"
              action="/projects">
            <div class="btn-group" role="group" aria-label="statusFilter">
                <button class="btn btn-dark" type="submit" name="statusFilter" value="">Все проекты</button>
                <button class="btn btn-dark" type="submit" name="statusFilter" value="ожидание обработки менеджером">
                    Ожидание обработки менеджером
                </button>
                <button class="btn btn-dark" type="submit" name="statusFilter" value="в разработке">В разаработке
                </button>
            </div>
        </form>
    </div>
    <div class="card-deck" th:if="!${#lists.isEmpty(projects)}">
        <div th:each="project : ${projects}">
            <div class="card my-2">
                <h5 class="card-header" th:text="${project.name}"></h5>
                <div class="card-body">
                    <strong>Статус:</strong>
                    <div th:text="${project.status}"></div>
                    <div sec:authorize="hasAnyAuthority('DEVELOPER', 'MANAGER')">
                        <strong>Заказчик:</strong>
                        <div th:text="${project.customerName}"></div>
                    </div>
                    <div sec:authorize="hasAnyAuthority('CUSTOMER', 'DEVELOPER')">
                        <strong>Менеджер:</strong>
                        <div th:text="${project.managerName}"></div>
                    </div>
                    <strong>Текущая стоимость:</strong>
                    <div th:text="${project.projectPrice} + ' $'"></div>
                </div>
                <div class="card-footer">
                    <div class="my-2 form-inline">
                        <a role="button" th:href="@{'/projects/' + ${project.id}}"
                           class="btn btn-info btn-sm mx-1">Больше
                            информации</a>
                        <form sec:authorize="hasAnyAuthority('CUSTOMER', 'MANAGER')" class="form-inline mx-1"
                              th:action="@{/projects}" th:method="delete">
                            <input type="hidden" th:name="id" th:value="${project.id}"/>
                            <button class="btn btn-danger btn-sm" type="submit" id="deleteProject">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(projects)}">
        Нет доступных проектов
    </div>
</div>
<div th:replace="fragments/common :: footer"></div>
<div th:replace="fragments/common :: imports"></div>
</body>
</html>