<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <title>Проекты</title>
    <th:block th:replace="~{fragments/common :: headerfiles}"/>
</head>
<body>
<th:block th:replace="~{fragments/common :: header}"/>
<div class="container-fluid">
    <div class="row m-2">
        <div class="col col-2">
            <h5>Список проектов</h5>
            <a sec:authorize="hasAuthority('CUSTOMER')" class="btn btn-primary mb-3" data-toggle="collapse"
               href="#addProject" aria-expanded="false" aria-controls="addProject">
                Создать новый проект
            </a>
        </div>
    </div>
    <div class="row m-2">
        <div class="col col-6">
            <div class="collapse" id="addProject">
                <div class="card card-body">
                    <div class="form-group">
                        <form method="post">
                            <div class="form-group my-2">
                                <input type="text" required class="form-control" name="newProjectName"
                                       placeholder="Введите название проекта"/>
                            </div>
                            <div class="form-group my-2">
                                <label for="specification">Техническое задание</label>
                                <textarea class="form-control" name="newProjectSpecification" id="specification"
                                          rows="5"> </textarea>
                            </div>
                            <div class="form-group">
                                <label for="manager">Менеджер</label>
                                <select class="form-control" required id="manager" th:name="managerId">
                                    <option value="" disabled selected>-- выберите менеджера --</option>
                                    <option th:each="manager : ${managers}"
                                            th:text="${manager.firstName} + ' ' + ${manager.lastName}"
                                            th:value="${manager.id}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Добавить</button>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form method="get" th:action="@{/projects}">
            <div class="row">
                <div class="col col-2 m-2">
                    <div class="input-group">
                        <input type="text" class="form-control" name="nameFilter" th:value="${nameFilter}">
                        <button class="btn btn-primary" type="submit">Найти</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-auto m-2">
                    <fieldset class="btn-group">
                        <button class="btn btn-secondary"
                                th:classappend="${statusFilter} == null ? ' active' : ''"
                                type="submit" name="statusFilter" value="">Все проекты
                        </button>
                        <th:block th:each="st : ${projectStatuses}">
                            <button class="btn btn-secondary"
                                    th:classappend="${statusFilter != null and statusFilter == st} ? ' active' : ''"
                                    type="submit"
                                    name="statusFilter"
                                    th:value="${st.name()}">
                                <span th:text="${st.displayName}"></span>
                            </button>
                        </th:block>
                    </fieldset>
                </div>
            </div>
        </form>
        <div class="row row-cols-auto" th:if="!${#lists.isEmpty(userProjectsList)}">
            <div th:each="project : ${userProjectsList}">
                <div class="card my-2">
                    <h5 class="card-header" th:text="${project.name}">Project name</h5>
                    <div class="card-body">
                        <strong>Статус:</strong>
                        <div th:text="${project.status}"></div>
                        <div sec:authorize="hasAnyAuthority('DEVELOPER', 'MANAGER')">
                            <strong>Заказчик:</strong>
                            <div th:text="${project.customerName}"></div>
                        </div>
                        <div sec:authorize="hasAnyAuthority('CUSTOMER', 'DEVELOPER')">
                            <strong>Менеджер:</strong>
                            <div th:text="${project.managerName}"></div>
                        </div>
                        <strong>Текущая стоимость:</strong>
                        <div th:text="${project.projectPrice} + ' $'"></div>
                    </div>
                    <div class="card-footer d-flex justify-content-start">
                            <a th:href="@{'/projects/' + ${project.id}}" class="btn btn-primary btn-sm mx-1">Больше
                                информации</a>
                            <form sec:authorize="hasAnyAuthority('CUSTOMER', 'MANAGER')" class="mx-1"
                                  th:action="@{/projects}" th:method="post">
                                <input type="hidden" name="_method" value="delete"/>
                                <input type="hidden" name="projectId" th:value="${project.id}"/>
                                <button class="btn btn-danger btn-sm" type="submit" id="deleteProject">Удалить
                                </button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(userProjectsList)}">
            Нет доступных проектов
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/common :: footer}"/>
<th:block th:replace="~{fragments/common :: imports}"/>
</body>
</html>