<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
    <th:block th:replace="fragments/common :: headerfiles"/>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<div th:if="${message}" th:inline="text">
    [[${message}]]
</div>
Add new user
<div th:replace="fragments/login :: login(path='/registration', button_value='Sign Up')"></div>
<a href="/login">Log in, if you already have an account</a>
<div th:replace="fragments/common :: footer"></div>
</body>
</html>