<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
    <th:block th:replace="fragments/common :: headerfiles"/>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<div class="container mt-5">
    <div th:if="${message}" th:inline="text">
        [[${message}]]
    </div>
    Add new user
    <div th:replace="fragments/login :: login(path='/registration', button_value='Зарегистрироваться')"></div>
</div>
<div th:replace="fragments/common :: footer"></div>
<div th:replace="fragments/common :: imports"></div>
</body>
</html>