<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <th:block th:replace="fragments/common :: headerfiles"/>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
<div th:replace="fragments/login :: logout"></div>
<h1>List of users</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Roles</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">"</td>
        <td th:each="role : ${user.roles}">
            <span th:text="${role}"></span>
        </td>
        <td><a th:href="@{'/user/' + ${user.id}}">edit</a></td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/common :: footer"></div>
<div th:replace="fragments/common :: imports"></div>
</body>
</html>